body{
	margin:auto;
}
.container{
	margin:auto;
}
.header{
	margin:auto;
	min-height:90px;
	background: #ddd url('/img/bg_head.jpg') left top repeat;
}
.header ul{
	display:block;
}
.header ul li{
	display:inline-block;
}
.container .content form label{
	width: 200px;
	display: inline-block;
	text-align: right;
	font-weight: bold;
}
.container .content table{
	border:1px #ccc solid;
}
.container .content table tr{

}
.container .content table tr th{
	border:1px #ccc solid;
	background: #ccc;
}
.container .content table tr td{

}
.container .content table tr td a{
	text-decoration:underline;
}
.container .content table tr td a:hover{
	text-decoration:none;
}
